---
layout: default
title: Home
---

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">

<!-- Show all posts here -->
{% for post in site.posts %}

            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
            <div class="entry">{{ post.excerpt }}</div>
{% endfor %}

        </div>
        <div class="col-xs-12 col-sm-3">
{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}

{% assign sortedtags = tags | split:' ' | sort %}



            <h3>Posts by tag:</h3>
{% for tag in sortedtags %}
                <h4 class="tag" id="tag-list-{{ tag }}"><a href=""></a>{{ tag }}</h4>
                <ul class="hide-initially-if-js-enabled h4 tag-list-{{ tag }}-ul">
    {% for post in site.tags[tag] %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
                </ul>
{% endfor %}



            <h3>Posts by year:</h3>
{% assign headerYear = -1 %}
{% for post in site.posts %}   
    {% assign postYear = post.date | date: "%Y" %}

    {% if postYear != headerYear %}
        {% assign headerYear = postYear %}
        {% if headerYear != -1 %}
            </ul>
        {% endif %}
            <h4 class="tag" id="year-header-{{post.date | date: "%Y"}}">{{ postYear }}</h4>
            <ul class="hide-initially-if-j-enabled h4 tag-list-{{ tag }}-ul">
    {% endif %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% if forloop.last %}
            </ul>
    {% endif %}
{% endfor %}
        </div>
    </div>
</div>
<script>
    $("[id^=tag-list]").each(function(index, value) {
        var ulSelector = '.' + $(value).attr('id') + '-ul';
        $(value).click(function(){
            $(ulSelector).slideToggle("fast");
        });
    });
</script>

<p>heej</p>
