.logo-container {
    position: relative;
    display: inline-block;
    width: 290px;
    margin-top: 200px;
    margin-right: -30px;
}

@mixin diamond-large($logo-total-width) {
    position: absolute;
    left: $logo-total-width / 290px * 70px;
    top: $logo-total-width / 290px * -170px;
    width: $logo-total-width / 290px * 175px;
    height: $logo-total-width / 290px * 170px;
}

@mixin diamond-medium($logo-total-width) {
    position: absolute;
    left: 0px;
    top: $logo-total-width / 290px * -180px;
    width: $logo-total-width / 290px * 130px;
    height: $logo-total-width / 290px * 125px;
}

@mixin diamond-small($logo-total-width) {
    position: absolute;
    left: $logo-total-width / 290px * 190px;
    top: $logo-total-width / 290px * -190px;
    width: $logo-total-width / 290px * 90px;
    height: $logo-total-width / 290px * 87px;
}

@mixin diamonds($logo-total-width) {
    img[src="/img/diamond-large.png"] {
        @include diamond-large($logo-total-width);
    }
    img[src="/img/diamond-medium.png"] {
        @include diamond-medium($logo-total-width);
    }
    img[src="/img/diamond-small.png"] {
        @include diamond-small($logo-total-width);
    }
}

@include diamonds(200px);

.logo-text {
    position: relative;
    top: 0px;
    font-size: 40px;
    font-family: 'Cinzel Decorative', serif;
}

/* col-sm */
@media (min-width : 768px) {
    .nav-entry {
        margin: 0 20px;
        font-size: 30px; /* .h2 */
    }
    .logo-text {
        top: -50px;
        font-size: 60px;
    }
    @include diamonds(200px);
}


/* col-md */
@media (min-width : 992px) {
    .nav-entry {
        font-size: 36px; /* .h1 */
    }
    .logo-text {
        top: -50px;
        font-size: 70px;
    }
    @include diamonds(270px);
}

/* col-lg */
@media (min-width : 1200px) {
    @include diamonds(290px);
}
