body {
    background-color: #f5f6d4;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

h12 {
    font-size: 10vh;
}

.new-l2ocation {
    font-size: 5vh;
}

html.no-js .redirect {
    display: none;
}
