/*

for f in _scss/*; do sass $f --style compressed > _includes/$(basename ${f%%.*}.min.css); done

*/

/* todo move to bootstrap configuration */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: Georgia, serif;
}

html.js .javascript-disabled-warning {
    display: none;
}

.javascript-disabled-warning span {
    background: #49483e;
}

