/*
sass _scss/global.scss --style compressed > _includes/global.min.css
*/

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}

html.js .javascript-disabled-warning {
    display: none;
}

.javascript-disabled-warning span {
    background: #49483e;
}

