/*
sass _scss/nav.scss --style compressed > _includes/nav.min.css
*/

nav {
    margin-bottom: 60px;
}

.nav-entry {
    padding: 5px 15px;
    background: #49483e;
    line-height: 200%;
}        

/* col-xs */
.nav-entry {
    margin: 0;
    font-size: 24px; /* .h3 */
}

/* col-sm */
@media (min-width : 768px) {
    .nav-entry {
        margin: 0 20px;
        font-size: 30px; /* .h2 */
    }
}


/* col-md */
@media (min-width : 992px) {
    .nav-entry {
        font-size: 30px; /* .h2 */
    }
}

/* col-lg */
@media (min-width : 1200px) {
    .nav-entry {
        font-size: 36px; /* .h1 */
    }
}

