/*

for f in _scss/*; do sass $f --style compressed > _includes/$(basename ${f%%.*}.min.css); done

*/

html.js ul.posts {
    display: none;
}

.tag {
    display: inline-block;
    margin: 7px;
    padding: 8px 20px;
    color: #333;
    cursor: pointer;

    background: lighten(#e7dc6c, 3%);
    border-radius: 3px;

    font-family: "Lucida Console", Monaco, monospace, sans-serif;
    font-weight: bold;
    white-space: nowrap;    

    transition: background 0.4s;
}

ul.posts>li {
    /* Using margin makes slideToggle() animation buggy */
    padding-bottom: 15px;
}

.tag:hover {
    background: white;
}

$base: 14px;
$step: 1.3px;

@for $i from 1 through 10 {
    .tag-size-for-nbr-of-posts-#{$i} {
        font-size: $base + $i * $step;
    }
}
