/*

for f in _scss/*; do sass $f --style compressed > _includes/$(basename ${f%%.*}.min.css); done

*/

html.js .post-list {
    display: none;
}

.tag {
    display: inline-block;
    margin: 7px 0;
    padding: 8px 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;

    background: lighten(#e7dc6c, 3%);
    border-radius: 3px;

    font-family: "Lucida Console", Monaco, monospace, sans-serif;
    font-weight: bold;
    white-space: nowrap;    

    transition: background 0.4s;
}

.tag-container.expanded {
    background: #333;
}

.tag-container.expanded .tag-count {
    display: none;
}

.tag-container {
    background: transparent;
    transition: background 0.4s;
    border-radius: 2px;
}

.post-list {
    margin-top: 0;
    margin-bottom: 30px;
}

.post-list li {
    /* Using margin makes slideToggle() animation buggy */
    padding-bottom: 15px;
}

.tag:hover {
    color: #333;
    background: white;
}

$base: 14px;
$step: 1.3px;

@for $i from 1 through 10 {
    .tag-size-#{$i} {
        font-size: $base + $i * $step;
    }
}
