/*

for f in _scss/*; do sass $f --style compressed > _includes/$(basename ${f%%.*}.min.css); done

*/

html.js ul.posts {
    display: none;
}

.tags {
    padding: 0 30px 200px 30px;
    border-left: 1px solid #49483e;
    border-right: 1px solid #49483e;
}

.tag {
    position: relative;
    display: table;
    background: lighten(#e7dc6c, 3%);
    padding: 8px 20px;
    white-space: nowrap;
    color: #333;
    text-shadow: 2px 2px 1px #eee;
    border-radius: 3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    transition: background 0.4s;
    font-family: "Lucida Console", Monaco, monospace, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

ul.posts>li {
    /* Using margin makes slideToggle() animation buggy */
    padding-bottom: 15px;
}

.tag:hover {
    background: white;
}
